<!DOCTYPE html>
<html>
  <head>
    <title>GET YA FORTUNE</title>
  </head>
  <body>
    <h1> Get ur fortune!!</h1>
    <h3> Hi, <%=@the_user%> here is your fortune: <%= @the_fortune%>! </h3>
    <img src= "https://media.giphy.com/media/l2JJu8U8SoHhQEnoQ/giphy.gif">
  </body>
</html>